.col-xs-12.col-md-12
  .row
    .jumbotron
      %h1
        = t "layout.header.year_#{@cup.year}.title"
        %br
        %small
          - if @cup.end_on
            = "#{l(@cup.start_on, format: :day_only)} – #{l(@cup.end_on, format: :long)},"
          - else
            = "#{l(@cup.start_on, format: :long)}, "
          = t("layout.header.year_#{@cup.year}.title_em")
  .row#deadline
    .col-xs-12.col-md-12.alert.alert-warning
      - if Time.current > @cup.deadline
        =raw t("cups.show.deadline_passed", deadline: I18n.l(@cup.deadline, format: :long))
      - else
        =raw t("cups.show.deadline", deadline: I18n.l(@cup.deadline, format: :long))

  .row#program
    .col-xs-12.col-md-12
      %h2= t 'cups.show.program.title'
    - @grouped_events.each do |date, events|
      .col-xs-12.col-md-6
        %table.table
          %thead
            %tr
              %td{colspan: 2}
                %h3
                  = l date, format: :short
          %tbody
            - for event in events
              %tr
                %th
                  = event.start_on.to_s(:time_only)
                %td.text-right
                  = event.name

  .row#categories_and_fees
    #categories.col-xs-12.col-md-6
      %h2= t 'cups.show.categories.title'
      %table.table
        %tbody
          - @cup.individual_categories.order(:created_at).each do |c|
            %tr
              %th= c.name
              %td
                - if c.min_age
                  = c.max_age ? t("categories.from") : t("categories.dès")
                  = c.min_age
                - if c.max_age
                  = t("categories.to")
                  = c.max_age
                = t("categories.yo") + "."
                - if c.description.present?
                  %em= simple_format c.description
          - @cup.team_categories.each do |c|
            %tr
              %th= c.name
              %td
                - if c.min_age
                  = c.max_age ? t("categories.from") : t("categories.dès")
                  = c.min_age
                - if c.max_age
                  = t("categories.to")
                  = c.max_age
                = t("categories.yo")
                - if c.description.present?
                  %em= simple_format c.description

    #fees.col-xs-12.col-md-6
      %h2= t 'cups.show.fees.title'
      %table.table
        %tbody
          %tr
            %th=raw t 'cups.show.fees.adults.title'
            %td.text-right=raw t 'cups.show.fees.adults.fee', adult_fees_chf: @cup.adult_fees_chf, adult_fees_eur: @cup.adult_fees_eur
          %tr
            %th=raw t 'cups.show.fees.juniors.title'
            %td.text-right=raw t 'cups.show.fees.juniors.fee', junior_fees_chf: @cup.junior_fees_chf, junior_fees_eur: @cup.junior_fees_eur
          %tr
            %th=raw t 'cups.show.fees.teams.title'
            %td.text-right=raw t 'cups.show.fees.teams.fee', team_fees_chf: 20
          - @cup.products.each do |product|
            %tr
              %th= product.name
              %td.text-right
                - if product.fee_chf == 0
                  À la carte
                - else
                  = "#{product.fee_chf} CHF"


  .row.venue
    .col-xs-12.col-md-12.venue-title
      %h2= t 'cups.show.venue.title'
    .col-xs-12.col-md-6.venue-details
      %p
        = link_to('Salle omnisports de la Vallée de la Jeunesse', 'https://goo.gl/maps/ifMTT5LJTMzNgjJu6')
        %br
        Chemin de la Prairie 11b
        %br
        1007 Lausanne
    .col-xs-12.col-md-6.venue-map
      %iframe{src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2745.276240534752!2d6.602969215588115!3d46.52243527912765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c31cdc985ef21%3A0xc148bc33eb28f48a!2sSports%20Hall%20Of%20The%20Vall%C3%A9e%20De%20La%20Jeunesse!5e0!3m2!1sen!2sch!4v1568143550828!5m2!1sen!2sch"}
  .row.accomodation_contact
    .col-xs-12.col-md-6.venue
      %h2= t 'cups.show.accomodation.title'
      %p= t 'cups.show.accomodation.anlage'
    .col-xs-12.col-md-6.contact
      %h2= t 'cups.show.contact.title'
      %p=raw t 'cups.show.contact.text', mail: mail_to("vice-president@kendo.ch", nil, encode: "hex", replace_at: "_at_", replace_dot: "_dot_")
