.col-xs-12.col-md-12
  .row
    .jumbotron
      %h1
        = t 'layout.header.title'
        = @cup.year
        %br
        %small
          - if @cup.end_on
            = "#{l(@cup.start_on, format: :day_only)}–#{l(@cup.end_on, format: :long)},"
          - else
            = "#{l(@cup.start_on, format: :long)}, "
          = t("layout.header.title_em")
  .row#deadline
    .col-xs-12.col-md-12.alert.alert-warning
      - if Time.current > @cup.deadline
        =raw t(".deadline_passed", deadline: I18n.l(@cup.deadline, format: :long))
      - else
        =raw t(".deadline", deadline: I18n.l(@cup.deadline, format: :long))

  .row#program
    .col-xs-12.col-md-12
      %h2= t '.program.title'
    - @grouped_events.each do |date, events|
      .col-xs-12.col-md-6
        %table.table
          %thead
            %tr
              %td{colspan: 2}
                %h3
                  = l date, format: :short
          %tbody
            - for event in events
              %tr
                %th
                  = event.start_on.to_s(:time_only)
                %td
                  = event.name

  .row#categories_and_fees
    #categories.col-xs-12.col-md-6
      %h2= t '.categories.title'
      %table.table
        %tbody
          - @cup.individual_categories.each do |c|
            %tr
              %th= c.name.capitalize
              %td
                - if c.min_age
                  = c.max_age ? t("categories.from") : t("categories.dès")
                  = c.min_age
                - if c.max_age
                  = t("categories.to")
                  = c.max_age
                = t("categories.yo")

          - @cup.team_categories.each do |c|
            %tr
              %th= c.name.capitalize
              %td
                = "#{c.description},"
                - if c.min_age
                  = c.max_age ? t("categories.from") : t("categories.dès")
                  = c.min_age
                - if c.max_age
                  = t("categories.to")
                  = c.max_age
                = t("categories.yo")

    #fees.col-xs-12.col-md-6
      %h2= t '.fees.title'
      %table.table
        %tbody
          %tr
            %th=raw t '.fees.adults.title'
            %td=raw t '.fees.adults.fee', adult_fees_chf: @cup.adult_fees_chf, adult_fees_eur: @cup.adult_fees_eur
          %tr
            %th=raw t '.fees.juniors.title'
            %td=raw t '.fees.juniors.fee', junior_fees_chf: @cup.junior_fees_chf, junior_fees_eur: @cup.junior_fees_eur
          - @cup.products.each do |product|
            %tr
              %th= product.name
              %td= "#{product.fee_chf} CHF / #{product.fee_eu} €"

  .row.venue
    .col-xs-12.col-md-12.venue-title
      %h2= t '.venue.title'
    .col-xs-12.col-md-6.venue-details
      %p=raw t '.venue.a', link_to_location: link_to('Turnhalle Utenberg Luzern', 'http://map.search.ch/Luzern,Utenbergstr.1/')
      %h3= t '.venue.address'
      %p
        Turnhalle Utenberg Luzern
        %br
        Utenbergstrasse 1
        %br
        6006 Luzern
        %em
          GPS: 47.0613066,8.3254636
    .col-xs-12.col-md-6.venue-map
      = link_to "Google map to the competition hall", "https://www.google.ch/maps/place/Utenbergstrasse+1,+6006+Luzern/@47.0613066,8.3254636,16z/data=!4m6!1m3!3m2!1s0x478ffb8c575e7c49:0x763df88011276fb2!2sUtenbergstrasse+1,+6006+Luzern!3m1!1s0x478ffb8c575e7c49:0x763df88011276fb2?hl=en", id: 'google_map'
  .row.accomodation_contact
    .col-xs-12.col-md-6.venue
      %h2= t '.accomodation.title'
      %h3 Hotels in der Nähe der Turnhalle
      %table.table
        %tbody
          %tr
            %th 0.6 km
            %td Hotel Montana, 4 *, Adligenswilerstrasse 22, 6002 Luzern
          %tr
            %th 1.8 km
            %td Hotel Royal, 3 *, Rigistrasse 22, 6006 Luzern
          %tr
            %th 1.8 km
            %td Ibis Styles, 3 *, Friedenstrasse 8, 6004 Luzern
          %tr
            %th 2.0 km
            %td Hotel Rebstock, 4 *, St. Leodegarstrasse 3, 6006 Luzern
          %tr
            %th 2.5 km
            %td Hotel Continental, 4 *, Murbacherstrasse 4, 6002 Luzern (Referees!)
          %tr
            %th 3.5 km
            %td Hotel Alpha, 2 *, Zähringerstrasse 24, 6003 Luzern
          %tr
            %th 3.5 km
            %td Ibis Budget, 1 *, Kellerstrasse 6, 6005 Luzern
          %tr
            %th 3.5 km
            %td Youth Hostel Luzern, Sedelstrasse 12, 6004 Luzern
      %h3 Hotels in der Nähe der Sayonaraparty (Restaurant Eat ChaCha)
      %table.table
        %tbody
          %tr
            %th 2.5 km
            %td Hotel Continental, 4 *, Murbacherstrasse 4, 6002 Luzern
          %tr
            %th 0.7 km
            %td Hotel Alpha, 2 *, Zähringerstrasse 24, 6003 Luzern
          %tr
            %th 0.9 km
            %td Ibis Budget, 1 *, Kellerstrasse 6, 6005 Luzern
          %tr
            %th 1.3 km
            %td Ibis Styles, 3 *, Friedenstrasse 8, 6004 Luzern
          %tr
            %th 2.5 km
            %td Hotel Royal, 3 *, Rigistrasse 22, 6006 Luzern

    .col-xs-12.col-md-6.contact
      %h2= t '.contact.title'
      %p=raw t '.contact.text', mail: mail_to("annick.chevillot@bluewin.ch", nil, encode: "hex", replace_at: "_at_", replace_dot: "_dot_")
